// TODO



.posts {
  padding: 0 2rem;
  margin: 2rem auto 0;

  a {
    display: block;
    transition: filter 0.2s;

    &:hover{
      color: var(--pink-100);
      filter: brightness(0.8);
    }


    & + a {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--gray-700);
    }

    strong{
      font-weight: 700;
      font-size: 1.750rem;
      line-height: 34px;
      text-align: justify;
      letter-spacing: -0.5px;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.375rem;
      text-align: justify;
      color: var(--gray-300);
      margin-top: 0.225rem;
    }

    & .contentIcons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: var(--gray-300);
      margin-top: 1rem;
      font-size: 0.875rem;

      svg {
        margin-right: 0.625rem;


      }


     time {
        margin-right: 2rem;
      }
    }
  }
}

.loadNewPosts{
  margin: 4rem 2rem 0;

  button {
    border: none;
    background: transparent;
    color: var(--pink-100);
    font-weight: 600;
    font-size: 1.125rem;

    transition: filter 0.2s;

    &:hover{
      filter: brightness(0.8);
    }
  }

}


