.headerContainer {
  height: 5rem;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 2rem
}

.headerContent{
  max-width:1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}
